<h1>Seznam vyhledávání</h1>
<?php if (count($usernames)): ?>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>IP</th>
                <th>Vloženo</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($usernames as $item): ?>
            <tr>
                <td><?= $item['id'] ?></td>
                <td><?= $item['username'] ?></td>
                <td><?= $item['ip'] ?></td>
                <td><?= date('j. n. Y H:i:s', strtotime($item['inserted'])) ?></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?= $this->paginationControl($usernames, 'sliding', 'partial/paginator_users.phtml', ['route' => 'application/default', 'params' => ['controller' => 'search']]); ?>
<?php endif; ?>