<div class="jumbotron">
    <h2>Toto je jednoduchý test pro Etnetera</h2>

    <p>Odkazem níže se dostanete na seznam repozitáří pro vybraného uživatele</p>

    <?php /** @var \Application\Form\FilterForm $form */ ?>
    <div class="row">
        <?= $this->form()->openTag($form) ?>
        <?= $this->formElement($form->get('security')) ?>
        <div class="col-md-7">
                <?= $this->formElement($form->get('username')) ?>
                <?= $this->formElementErrors($form->get('username')); ?>
            </div>
            <div class="col-md-5">
                <?= $this->formButton($form->get('send')) ?>
            </div>
        <?= $this->form()->closeTag() ?>
    </div>
</div>
<?php /** @var \Zend\Paginator\Paginator $paginator */ ?>
<?php if (count($paginator)): ?>
    <div class="jumbotron">
        <?php foreach ($paginator as $item): ?>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <a href="<?= $item->html_url ?>" target="_blank"><?= $item->name ?></a>
                    <span class="pull-right">
                        <span title="vytvořeno" class="label label-success"><?= date('j. n. Y', strtotime($item->created_at)) ?></span>
                        <span title="jazyk" class="label label-info"><?= $item->language ?></span>
                        <span title="výchozí branch" class="label label-warning"><?= $item->default_branch ?></span>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="<?= $item->owner->html_url ?>">
                                <img class="media-object" width="64" src="<?= $item->owner->avatar_url ?>" alt="<?= $item->owner->login ?>">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><?= $item->owner->login ?></h4>
                        </div>
                    </div>
                    <p><?= $item->description ?></p>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">SSH pro clone: <span class="label label-default pull-right" style="font-size: 14px;"><?= $item->ssh_url ?></span></li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-star"></i> Stars: <span class="badge"><?= $item->stargazers_count ?></span></li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-eye-open"></i> Watchers: <span class="badge"><?= $item->watchers_count ?></span></li>
                </ul>
            </div>
        <?php endforeach; ?>
        <?= $this->paginationControl($this->paginator, 'sliding', 'partial/paginator.phtml', ['query' => $params]); ?>
    </div>
<?php endif; ?>